.up-logo {
  background-image: url('https://d335luupugsy2.cloudfront.net/cms/files/21689/1525885690/%24s71bh10s69');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 100px;
}