.up-form {
  margin-top: -270px;
  width: 360px;
  margin-right: 0;
  margin-left: auto;
  z-index: 1;

  &_header {
    background-color: #e88d05;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    padding: 30px;

    &--title {
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    &--subtitle {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &_body {
    padding: 30px;
    background-color: #fff;
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;

    button {
      display: inline-block;
      padding: 15px 0px;
      height: auto;
      width: 100%;
      background: #f0951f;
      border: 0;
      border-radius: 3px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      transition: all .2s linear;

      &:hover {
        background: #d67b05;
        transition: all .5s ease;
      }
    }
  }
}