footer {
  background-color: #474447;
  padding: 40px 15px;

  p { 
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }

  .up-logo {
    margin: 0 auto;
    height: 55px;
  }
}