* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 1.1px;
}

body {
  font-family: $defaultFont;
  color: $black;
  background-color: #f3f3f3;
}

aside {
  z-index: 1;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
}